{% extends 'base.html' %}
{% load static %}

{% block contentbox %}					
<style>
#catmain
{
  height:450px;
  width:600px;
}
.catpart
{
  height:150px;
  width:200px;
  float:left;
}
</style>


<h2>Welcome to PostKrde.com</h2>

<h3>Ads Category</h3>
		
<div id="catmain">
{% for row in catlist %}	
<a href={{curl}}showsubcat/?cnm={{row.catnm}}  title={{row.catnm}} >		
	<div class="catpart">
	<center>
	<img src={{media_url}}/{{row.caticon}} height="100" width="150"/>
	<br>
	<b>{{row.catnm}}</b>
	</center>	
	</div>
</a>
{% endfor %}	
</div>

{% endblock %}










