{% extends 'base.html' %}


{% block contentbox %}			
<style>
#filter
{
  height:20%;
  width:97%;
  border:5px solid gray;
}
#filter1
{
  height:50%;
  width:100%;
}
#filter2
{
  height:50%;
  width:100%;
}
</style>


<div id="filter">
<div id="filter1">

<b>Filter By Price :</b>
<br>
<form action="" method="get">
<input type="text" name="sprice" placeholder="Starting Price limit"/>
&nbsp;-&nbsp;
<input type="text" name="eprice" placeholder="Ending Price limit"/>
<input type="hidden" name="scnm" value={{scnm}} />
<input type="submit" value="Filter" />
</form>
</div>
<hr>
<div id="filter2">

<b>Filter By City :</b>
<br>
<form action="" method="get">
<select name="adscity" style="width:250px;">
		<option>Select City</option>
		<optgroup label="Madhya Pradesh">
			<option>Indore</option>
			<option>Ujjain</option>
			<option>Bhopal</option>
		</optgroup>
		<optgroup label="Maharastra">
			<option>Mumbai</option>
			<option>Pune</option>
			<option>Nasik</option>
		</optgroup>
		</select>
&nbsp;&nbsp;&nbsp;
<input type="hidden" name="scnm" value={{scnm}} />		
<input type="submit"  value="Filter" />
</form>

</div>
</div>
<br>



		
	<h3>Ads For >> {{scnm}}</h3>
	<b>Total ads : {{totalads}}</b>	
	
	{% for row in adslist %}
	<br><br>
	<table style="border:5px solid #209D9D;border-radius:20px;" height="150" width="500" >
	<tr>
	<td rowspan="3" width="35%">
	<center>
	<img src={{media_url}}/{{row.file1}} width="150" height="100" />
	</center>
	</td>
	<td><b>Ads Title : {{row.adstitle}}</b></td>
	</tr>
	<tr>
	<td><b>Ads Price : &#8377;{{row.adsprice}}</b></td>
	</tr>
	<tr>
	<td><b>Ads Description : {{row.adsdescription}}</b>
	<br>
	<a href={{curl}}buylogin/?adsid={{row.adsid}}>Click To Buy Product....</a>
	</td>
	</tr>
	</table>
	{% endfor %}
	
{% endblock %}
